@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}


.navbar {
  width: 100%;  
  overflow: auto;    
  text-align: center;
  color: #ffffff; 
  background: linear-gradient(135deg, #119340 0%,#0c806b 25%,#1e539e 50%,#119340 75%,#098737 100%);
    position: relative;
  transition: .5s all;
}

.navbar a {  
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: auto;
  text-align: center;
}

.navbar a:hover {
  background: linear-gradient(135deg, #1e539e 0%,#0c806b 25%,#0aac46 50%,#0c806b 75%,#1e539e 100%);
}

.navbar a.active {
  background-color: #164874;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

button.button {
    background-color: #2348c2;
    border: 2px solid transparent;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 1em 1.5em;
    text-transform: uppercase;
  }
  
  button.button:hover {
    background-color: white;
    border-color: #2348c2;
    color: #2348c2;
  }
  
  button.button:active {
    background-color: lightblue;
  }


  li {
    margin: 1em;
  }

  table {
    border: solid black 2px;
    border-collapse: separate;    
    max-width: 1000px;
    min-width: 200px;
    margin: auto;
  }

  th, td {
    border: 1px solid rgba(7, 7, 53, 0.438);        
     padding: 1em;    
  }

  h1, h2, h3, p, td, form {
    text-align: center;
  }


.fade-list {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

