{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
    <div>
        <h1>{{ project.name }}</h1>
        {{ project.description|markdownify }}
        <h2>Tasks</h2>
        {% if project.tasks.all|length <= 0 %}
            <p>This project has no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tb>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td> {{ task.name }}</td>
                            <td> {{ task.assignee }}</td>
                            <td> {{ task.start_date|date:"M d, Y" }}</td>
                            <td> {{ task.due_date|date:"M d, Y" }}</td>
                            <td> {{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tb>
            </table>
        {% endif %}
    </div>
{% endblock content %}





